.indexHeader {
    background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
}

.headerTextContainer {
    margin-left: 100px;
    span {
        display: block; 
    }
}

.headerImgContainer {
    width: 50%;
    position: absolute;
    bottom: -100px; 

}

/* Blog Page */ 

.blogHeader {
    background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 70vh;  
}

.headerTextContainer {
    margin-top: 120px; 
    margin-left: 80px
}


/* Contact Page */ 

.contactHeader {
    background-image: url(../sanctuary-helpers-final-images/contact-image.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    height: 70vh;
    .wrapper {
        .headerTextContainer {
            margin: 100px 0 0 80px; 
        }
    }
}

.logo {
    margin-right: auto; 
    a {
        font-family: $headingFont;
    }
}

