@media (max-width: 940px) { 

    /* Index Page */ 

    .headerImgContainer {
        width: 75%;
        bottom: -60px; 
    }

    .materialFlex {
        .imgContainer {
            width: 60%;
            align-self: center; 
        }
    }

    .location {
        .flexContainer {
            flex-direction: column;
            .groupImgContainer {
                width: 80%;
                align-self: center;
            }
            .groupTextContainer {
                margin: 0; 
                width: 100%;
                text-align: center;
                .wrapperTwo {
                    margin-right: 0; 
                }
            }
        } 
        .flexContainer:nth-child(2) {
            flex-direction: column-reverse;
            .locationImgContainer {
                width: 80%;
                align-self: center;
                position: static;
                margin: 50px 0 50px 0; 
            }
            .locationTextContainer {
                margin: 0 0 100px 0; 
                width: 100%;
                text-align: center;
                .wrapperTwo {
                    margin-left: 0; 
                }
            }
        }
    }

    /* Blog Page */ 

    .commentFlex {
        .commentContainer {
            .imgContainer {
                width: 60%;
            }
        }
    }

    .blogForm {
        form {
            input[type=text],
            input[type=email] {
            width: calc(50% - 28px);
            } 
        }
    }

    /* Contact Page */ 
    .contactForm {
        form {
            input[type=text],
            input[type=email] {
                width: 90%;
            }
        }
    }
}

@media (max-width: 768px) {

    /* Index Page */ 

    .headerImgContainer {
        width: 80%;
        bottom: -45px;
    }

    .materialFlex {
        flex-direction: column;
        .textContainer {
            width: 100%;
            align-items: center;
        }
        .imgContainer {
            margin-top: 50px; 
        }
    }

    .benefitsFlex {
        .benefitsItem {
            width: 100%; 
            margin-left: 50px; 
        }
        
    }

    /* Blog Page */
    
    .blogContent {
        width: 95%;
    }

    .blogComments {
        width: 95%; 
    }

    .mission {
        justify-content: center;
        .missionContainer {
            position: static;
            margin-bottom: 50px;
        }
    }

    .blogForm {
        form {
            input[type=text],
            input[type=email] {
            width: calc(50% - 34px);
            } 
        }
    }


    /* Contact Page */ 

    .contactForm {
        form {
            input[type=text],
            input[type=email],
            input[type=submit] {
                margin-left: 20px
            }
            textarea {
                margin-left: 20px; 
            }
        }
    }
    .addressText {
        p {
            font-size: 1rem;
        }
    }
}

@media (max-width: 480px) {

    /* Index Page */ 

    .hamburgerMenu {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: transparent;
        color: $tertiary;
        font-size: 2rem;
        opacity: 1;
    }

    input[type=checkbox] {
        position: absolute;
        top: 10px;
        right: 10px; 
        opacity: 0;
    }

    nav {
        .subMenu {
            flex-direction: column;
            position: absolute;
            right: 5px;
            top: 70px;
            overflow: hidden;
            opacity: 0;
            li {
                padding: 10px 30px 5px 10px;
                border-bottom: 2px solid $tertiary;
            }
            .logo {
                display: none;
            }
        }
    }

    nav {
        input[type=checkbox]:checked + ul {
            opacity: 1;
            height: 150px;
        }
    }

    .headerTextContainer {
        margin: 210px 0 0 0; 
        h1 {
            font-size: 2.5rem; 
        }
    }

    .headerImgContainer {
        width: 100%;
    }

    .materialFlex {
        .textContainer {
            h2 {
                text-align: center;
            }
        }
        .imgContainer {
            width: 90%;
        }
    }

    .wrapperTwo {
        margin: 0 5px;
    }

    /* Blog Page */ 



    /* Contact Page */ 

    .hamburgerMenu {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: transparent;
        color: $tertiary;
        font-size: 2rem;
        opacity: 1;
    }

    input[type=checkbox] {
        position: absolute;
        top: 10px;
        right: 10px; 
        opacity: 0;
    }

    nav {
        ul {
            flex-direction: column;
            position: absolute;
            right: 5px;
            top: 70px;
            overflow: hidden;
            opacity: 0;
            li {
                padding: 10px 30px 5px 10px;
                border-bottom: 2px solid $tertiary;
            }
        }
    }

    nav {
        input[type=checkbox]:checked + ul {
            opacity: 1;
            height: 150px;
        }
    }

    .contactHeader {
        .wrapper {
            .headerTextContainer {
                margin: 210px 0 0 80px
            }
        }
    }

    .contact {
        height: auto;
        .wrapper {
            flex-direction: column;
            align-content: center;
            .contactForm {
                position: relative;
                width: 100%;
            }
        }
    }
    .addressText {
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0; 
        p {
            font-size: 1rem;
        }
        .iconBar {
            i {
                font-size: 1rem; 
            }
        }
    }
}

@media (max-width: 320px) {

    /* Index Page */ 

    .headerTextContainer {
        margin: 280px 0 0 0; 
        h1 {
            font-size: 2rem;
        }
    }

    .galleryItems {
        flex-direction: column;
        .items {
            width: 100%;
        }
        .items:nth-child(2) {
            margin-left: 0;
        }
    }

    .search {
        .wrapper {
            .textContainer {
                padding: 50px 0 0 0;
                margin-bottom: 50px; 
            }
        }
    }
    /* Contact Page */ 
    .contactHeader{
        .wrapper {
            flex-direction: column;
            .headerTextContainer {
                margin-left: 0px;
                h1 {
                    font-size: 2.5rem; 
                    text-align: center; 
                }
            }
        }
    }

    .addressText {
        width: 100%;
    }

    .contact {
        .wrapper {
            display: flex; 
            flex-direction: column;
            position: relative;
        }
    }

    .contactForm {
        width: 100%;
        form {
            input[type=text],
            input[type=email] {
                width: 80%;
            }
            input[type=email] {
                margin-top: 0;
            }
            textarea {
                width: 80%;
            }
            input[type=submit] {
                width: 80%;
            }
        }
    }

}