/* site fonts */
$heroFont: 'Kumar One Outline';
$headingFont: 'Kumar One';
$bodyFont: 'Lato';


/* site colors */ 

$primary: #E0FDDF;
$secondary: #F8FB05; 
$tertiary: #065635;
$solidWhite: #F5F5F5;
$solidBlack: #151514;


