@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  padding: 0;
  margin: 0;
}

/* site fonts */
/* site colors */
html {
  font-size: 125%;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 3rem;
  font-weight: 400;
  color: #151514;
  text-transform: uppercase;
}

h2, h3 {
  font-family: "Kumar One";
  font-weight: 400;
  color: #151514;
  text-transform: uppercase;
}

p {
  font-family: "Lato";
  font-weight: 400;
  color: #151514;
  line-height: 1.5;
}

h4 {
  font-family: "Lato";
  font-weight: 400;
}

.wrapper {
  max-width: 1600px;
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.buttonStyle {
  font-family: "Kumar One";
  text-transform: uppercase;
  padding: 10px 10px 5px 10px;
  display: block;
  background-color: #065635;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
}

.highlight {
  -webkit-box-shadow: 15px 15px #F8FB05;
          box-shadow: 15px 15px #F8FB05;
}

.highlightLeft {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

footer {
  background-color: #151514;
  text-align: center;
  margin: 0;
}
footer p {
  margin: 0;
  padding: 8px 0;
  font-family: "Lato";
  color: #F5F5F5;
}

span {
  display: block;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

nav {
  font-family: "Lato";
  padding-top: 20px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}
nav ul li {
  list-style: none;
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #151514;
  text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a:focus {
  border-bottom: 2px solid #F8FB05;
}
nav ul .logo a:hover,
nav ul .logo a:focus {
  border-bottom: none;
}

.logo:hover {
  border-bottom: none;
}

.hamburgerMenu {
  opacity: 0;
}

input[type=checkbox] {
  opacity: 0;
}

.indexHeader {
  background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
}

.headerTextContainer {
  margin-left: 100px;
}
.headerTextContainer span {
  display: block;
}

.headerImgContainer {
  width: 45%;
  position: absolute;
  bottom: -100px;
}

/* Blog Page */
.blogHeader {
  background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.headerTextContainer {
  margin-top: 120px;
  margin-left: 80px;
}

/* Contact Page */
.contactHeader {
  background-image: url(../sanctuary-helpers-final-images/contact-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}
.contactHeader .wrapper .headerTextContainer {
  margin: 100px 0 0 80px;
}

.logo {
  margin-right: auto;
}
.logo a {
  font-family: "Kumar One";
}

/* Index Materials Section */
.materials {
  padding: 100px 0px 40px 0;
}

.materialFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.materialFlex .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-right: 150px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.materialFlex .textContainer h2 {
  margin-bottom: 0;
}
.materialFlex .imgContainer {
  width: 30%;
}

/* Index Gallery Section */
.gallery {
  background-color: #E0FDDF;
  padding: 50px 0;
}

.galleryItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.galleryItems .items:nth-child(2) {
  margin: 0 20px;
}
.galleryItems .items {
  width: 33.3333333333%;
  list-style: none;
}

/* Benefits Section */
.benefits {
  padding: 50px 0px 100px 0;
}

.benefitsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefitsFlex .benefitsItem {
  width: calc(50% - 50px);
}
.benefitsFlex .benefitsItem h3 {
  margin-bottom: 0;
}
.benefitsFlex .benefitsItem p {
  margin-top: 5px;
}

.benefitsItem:nth-child(1),
.benefitsItem:nth-child(3) {
  margin-right: 50px;
  width: calc(50% - 60px);
}

.benefitsItem:nth-child(2),
.benefitsItem:nth-child(4) {
  margin-left: 50px;
  width: calc(50% - 60px);
}

.offers h3::before {
  content: "\f015";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: -60px;
  margin-right: 10px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
}

.community h3::before {
  content: "\f0c0";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: -60px;
  margin-right: 10px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
}

.blogger h3::before {
  content: "\f781";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: -60px;
  margin-right: 10px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
}

.inTouch h3::before {
  content: "\f095";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: -60px;
  margin-right: 10px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
}

/* Location Section */
.location {
  background-color: #E0FDDF;
}
.location .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.location .flexContainer .groupTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 50%;
  margin: 50px 0 0 200px;
}
.location .flexContainer .groupTextContainer .wrapperTwo {
  margin-right: 10%;
}
.location .flexContainer .groupTextContainer .wrapperTwo a {
  display: inline-block;
}
.location .flexContainer .groupImgContainer {
  position: relative;
  width: 50%;
  left: 0;
  top: -60px;
}
.location .flexContainer .groupImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.location .flexContainer .locationTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  width: 50%;
  margin: 100px 200px 50px 0;
}
.location .flexContainer .locationTextContainer .wrapperTwo {
  margin-left: 10%;
}
.location .flexContainer .locationTextContainer .wrapperTwo a {
  display: inline-block;
}
.location .flexContainer .locationImgContainer {
  position: relative;
  width: 50%;
  right: 0;
  bottom: -60px;
}
.location .flexContainer .locationImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Banner Section */
.banner .imgContainer {
  width: 100%;
}

/* Search by Style Section */
.search .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
}
.search .wrapper .textContainer {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search .wrapper .textContainer h3 {
  margin-bottom: 0px;
}

/* Blog Page */
.blogMain {
  background-color: #E0FDDF;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  position: relative;
  top: -100px;
}
.blogContent .textContainer {
  background-color: white;
  border-right: 10px solid #F8FB05;
  border-bottom: 10px solid #F8FB05;
}
.blogContent .textContainer .wrapper span {
  display: inline;
  font-style: italic;
  font-weight: bold;
}
.blogContent .imgContainer {
  width: calc(100% - 15px);
  position: relative;
}

.blogDate {
  font-style: italic;
}

.blogComments {
  width: 60%;
}
.blogComments .wrapper h3 {
  margin-top: 0;
}

.commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.commentFlex .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}
.commentFlex .commentContainer .imgContainer {
  width: 15%;
  margin-right: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.commentFlex .commentContainer .imgContainer img {
  width: unset;
  max-width: unset;
}
.commentFlex .commentContainer .textContainer h4 {
  margin: 0;
  text-transform: uppercase;
}

.blogForm {
  background-color: #E0FDDF;
  width: 100%;
  margin: 50px 0 100px 0;
}
.blogForm form input[type=text],
.blogForm form input[type=email] {
  width: calc(50% - 50px);
  background-color: #E0FDDF;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid #065635;
  line-height: 2.5;
  padding-left: 20px;
}
.blogForm form input::-webkit-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.blogForm form input::-moz-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.blogForm form input:-ms-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.blogForm form input::-ms-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.blogForm form input::placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.blogForm form input[type=submit] {
  font-family: "Kumar One";
  text-transform: uppercase;
  padding: 15px 10px 5px 10px;
  display: block;
  background-color: #065635;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  margin-bottom: 0;
  border: none;
}
.blogForm form textarea {
  width: 90%;
  background-color: #E0FDDF;
  border: 2px solid #065635;
  resize: none;
  margin-bottom: 30px;
  padding-left: 20px;
}
.blogForm form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.blogForm form textarea::-moz-placeholder {
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.blogForm form textarea:-ms-input-placeholder {
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.blogForm form textarea::-ms-input-placeholder {
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.blogForm form textarea::placeholder {
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.blogForm form .buttonStyle {
  width: 90%;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #E0FDDF;
}
.mission .missionContainer {
  width: 300px;
  height: auto;
  background-color: #F8FB05;
  position: absolute;
  right: 0;
  bottom: 1450px;
}
.mission .missionContainer .textContainer {
  margin-left: 20px;
}
.mission .missionContainer .imgContainer {
  width: 95%;
  margin-left: auto;
}

/* Contact Page */
/* Contact Form Section */
.contact {
  background-color: #E0FDDF;
  padding-bottom: 100px;
  height: 70vh;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.contactForm {
  background-color: white;
  width: 70%;
  position: absolute;
  top: -100px;
}
.contactForm form input {
  width: 40%;
  margin: 60px 20px 30px 40px;
  border: none;
  border-bottom: 2px solid #065635;
  line-height: 2.5;
  padding-left: 20px;
}
.contactForm form input::-webkit-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.contactForm form input::-moz-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.contactForm form input:-ms-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.contactForm form input::-ms-input-placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.contactForm form input::placeholder {
  text-transform: uppercase;
  padding: 10px 0 20px 10px;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #151514;
}
.contactForm form textarea {
  width: 90%;
  border: 2px solid #065635;
  resize: none;
  margin-left: 40px;
  padding-left: 20px;
}
.contactForm form textarea::-webkit-input-placeholder {
  margin: 5px 0 0 5px;
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contactForm form textarea::-moz-placeholder {
  margin: 5px 0 0 5px;
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contactForm form textarea:-ms-input-placeholder {
  margin: 5px 0 0 5px;
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contactForm form textarea::-ms-input-placeholder {
  margin: 5px 0 0 5px;
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contactForm form textarea::placeholder {
  margin: 5px 0 0 5px;
  text-transform: uppercase;
  line-height: 5;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contactForm form .buttonStyle {
  width: 90%;
}

.iconBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.iconBar i {
  font-size: 1.2rem;
  color: #065635;
}
.iconBar i:nth-child(n+2) {
  margin: 0 0 10px 20px;
}

.addressText {
  width: calc(30% - 70px);
  margin-top: 120px;
  margin-left: auto;
}
.addressText p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.addressText .email {
  margin-bottom: 20px;
}

@media (max-width: 940px) {
  /* Index Page */
  .headerImgContainer {
    width: 65%;
    bottom: -60px;
  }

  .materialFlex .imgContainer {
    width: 60%;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .location .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location .flexContainer .groupImgContainer {
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .location .flexContainer .groupTextContainer {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .location .flexContainer .groupTextContainer .wrapperTwo {
    margin-right: 0;
  }
  .location .flexContainer:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .location .flexContainer:nth-child(2) .locationImgContainer {
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
    position: static;
    margin: 50px 0 50px 0;
  }
  .location .flexContainer:nth-child(2) .locationTextContainer {
    margin: 0 0 100px 0;
    width: 100%;
    text-align: center;
  }
  .location .flexContainer:nth-child(2) .locationTextContainer .wrapperTwo {
    margin-left: 0;
  }

  /* Blog Page */
  .commentFlex .commentContainer .imgContainer {
    width: 60%;
  }

  .blogForm form input[type=text],
.blogForm form input[type=email] {
    width: calc(50% - 28px);
  }

  /* Contact Page */
  .contactForm form input[type=text],
.contactForm form input[type=email] {
    width: 90%;
  }
}
@media (max-width: 768px) {
  /* Index Page */
  .headerTextContainer h1 {
    font-size: 2.5rem;
  }

  .headerImgContainer {
    width: 80%;
    bottom: -45px;
  }

  .materialFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .materialFlex .textContainer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .materialFlex .imgContainer {
    margin-top: 50px;
  }

  .benefitsFlex .benefitsItem {
    width: 100%;
    margin-left: 50px;
  }

  /* Blog Page */
  .blogContent {
    width: 95%;
  }

  .blogComments {
    width: 95%;
  }

  .mission {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mission .missionContainer {
    position: static;
    margin-bottom: 50px;
  }

  .blogForm form input[type=text],
.blogForm form input[type=email] {
    width: calc(50% - 34px);
  }

  /* Contact Page */
  .contactForm form input[type=text],
.contactForm form input[type=email],
.contactForm form input[type=submit] {
    margin-left: 20px;
  }
  .contactForm form textarea {
    margin-left: 20px;
  }

  .addressText p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  /* Index Page */
  .hamburgerMenu {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    color: #065635;
    font-size: 2rem;
    opacity: 1;
  }

  input[type=checkbox] {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
  }

  nav .subMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 5px;
    top: 70px;
    overflow: hidden;
    opacity: 0;
  }
  nav .subMenu li {
    padding: 10px 30px 5px 10px;
    border-bottom: 2px solid #065635;
  }
  nav .subMenu .logo {
    display: none;
  }

  nav input[type=checkbox]:checked + ul {
    opacity: 1;
    height: 150px;
  }

  .headerTextContainer {
    margin: 210px 0 0 0;
  }
  .headerTextContainer h1 {
    font-size: 2rem;
  }

  .headerImgContainer {
    width: 100%;
  }

  .materialFlex .textContainer h2 {
    text-align: center;
  }
  .materialFlex .imgContainer {
    width: 90%;
  }

  .wrapperTwo {
    margin: 0 5px;
  }

  /* Contact Page */
  .hamburgerMenu {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    color: #065635;
    font-size: 2rem;
    opacity: 1;
  }

  input[type=checkbox] {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 5px;
    top: 70px;
    overflow: hidden;
    opacity: 0;
  }
  nav ul li {
    padding: 10px 30px 5px 10px;
    border-bottom: 2px solid #065635;
  }

  nav input[type=checkbox]:checked + ul {
    opacity: 1;
    height: 150px;
  }

  .contactHeader .wrapper .headerTextContainer {
    margin: 210px 0 0 0;
  }

  .contact {
    height: auto;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact .wrapper .contactForm {
    position: relative;
    width: 100%;
  }

  .addressText {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .addressText p {
    font-size: 1rem;
  }
  .addressText .iconBar i {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  /* Index Page */
  .headerTextContainer {
    margin: 280px 0 0 0;
  }
  .headerTextContainer h1 {
    font-size: 2rem;
  }

  .galleryItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryItems .items {
    width: 100%;
  }
  .galleryItems .items:nth-child(2) {
    margin-left: 0;
  }

  .search .wrapper .textContainer {
    padding: 50px 0 0 0;
    margin-bottom: 50px;
  }

  /* Contact Page */
  .contactHeader .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactHeader .wrapper .headerTextContainer {
    margin-left: 0px;
  }
  .contactHeader .wrapper .headerTextContainer h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .addressText {
    width: 100%;
  }

  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .contactForm {
    width: 100%;
  }
  .contactForm form input[type=text],
.contactForm form input[type=email] {
    width: 80%;
  }
  .contactForm form input[type=email] {
    margin-top: 0;
  }
  .contactForm form textarea {
    width: 80%;
  }
  .contactForm form input[type=submit] {
    width: 80%;
  }
}